In [2]:
import pandas as pd

df = pd.read_csv("datasets/player_per_game.csv")

print("Shape:", df.shape)
df.tail()

Shape: (32605, 35)

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
32600,200.0,1947,157.0,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,0.500,NaN,NaN,NaN,0.5,NaN,NaN,NaN,1.3,1.9
32601,201.0,1947,158.0,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,0.511,NaN,NaN,NaN,0.5,NaN,NaN,NaN,1.8,2.6
32602,202.0,1947,159.0,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,0.534,NaN,NaN,NaN,0.7,NaN,NaN,NaN,2.3,5.1
32603,203.0,1947,160.0,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,0.477,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.2,2.9
32604,204.0,1947,161.0,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,0.581,NaN,NaN,NaN,0.9,NaN,NaN,NaN,1.9,6.4

In [ ]:
#checking for non-numeric columns and missing data
df.info()

In [3]:
#finds all seasons in dataset
df['season'].unique()

array([2025, 2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015,
       2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004,
       2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993,
       1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982,
       1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971,
       1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960,
       1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951, 1950, 1949,
       1948, 1947])

In [6]:
#filter by latest season
latest_season = df['season'].max()
df = df[df['season'] == latest_season]
df.tail()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
730,32601.0,2025,4299.0,Zach LaVine,NaN,SG,29.0,11,NBA,SAC,...,0.874,0.3,3.2,3.5,3.8,0.6,0.1,2.7,1.8,22.4
731,32602.0,2025,4898.0,Zeke Nnaji,NaN,PF,24.0,5,NBA,DEN,...,0.614,0.6,1.0,1.6,0.4,0.4,0.7,0.2,1.1,3.2
732,32603.0,2025,5024.0,Ziaire Williams,NaN,SF,23.0,4,NBA,BRK,...,0.821,1.0,3.6,4.6,1.3,1.0,0.4,1.1,2.4,10.0
733,32604.0,2025,4803.0,Zion Williamson,NaN,PF,24.0,5,NBA,NOP,...,0.656,2.5,4.7,7.2,5.3,1.2,0.9,3.0,2.7,24.6
734,32605.0,2025,5313.0,Zyon Pullin,NaN,SG,23.0,1,NBA,MEM,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
missing = df.columns[df.isnull().any()]
df[missing].isnull().sum()

birth_year      733
fg_percent        4
x3p_percent      45
x2p_percent      11
e_fg_percent      4
ft_percent       42
dtype: int64

In [8]:
df.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,31871.0,2025,5025.0,A.J. Green,NaN,SG,25.0,3,NBA,MIL,...,0.815,0.2,2.1,2.4,1.5,0.5,0.1,0.5,2.2,7.4
1,31872.0,2025,5026.0,A.J. Lawson,NaN,SG,24.0,3,NBA,TOR,...,0.683,0.8,2.5,3.3,1.2,0.5,0.2,0.6,1.7,9.1
2,31873.0,2025,5210.0,AJ Johnson,NaN,SG,20.0,1,NBA,TOT,...,0.865,0.3,1.8,2.0,2.6,0.4,0.1,1.2,1.7,7.6
3,31874.0,2025,5210.0,AJ Johnson,NaN,SG,20.0,1,NBA,MIL,...,0.500,0.0,1.0,1.0,1.0,0.1,0.0,0.6,0.0,2.9
4,31875.0,2025,5210.0,AJ Johnson,NaN,SG,20.0,1,NBA,WAS,...,0.886,0.4,2.0,2.4,3.1,0.5,0.1,1.4,2.3,9.1

In [10]:
df = df.drop(columns=['birth_year', 'experience', 'lg', 'tm',], errors='ignore')
df.head()

,seas_id,season,player_id,player,pos,age,g,gs,mp_per_game,fg_per_game,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,31871.0,2025,5025.0,A.J. Green,SG,25.0,73,7.0,22.7,2.5,...,0.815,0.2,2.1,2.4,1.5,0.5,0.1,0.5,2.2,7.4
1,31872.0,2025,5026.0,A.J. Lawson,SG,24.0,26,2.0,18.7,3.1,...,0.683,0.8,2.5,3.3,1.2,0.5,0.2,0.6,1.7,9.1
2,31873.0,2025,5210.0,AJ Johnson,SG,20.0,29,11.0,22.0,2.8,...,0.865,0.3,1.8,2.0,2.6,0.4,0.1,1.2,1.7,7.6
3,31874.0,2025,5210.0,AJ Johnson,SG,20.0,7,0.0,6.3,1.1,...,0.500,0.0,1.0,1.0,1.0,0.1,0.0,0.6,0.0,2.9
4,31875.0,2025,5210.0,AJ Johnson,SG,20.0,22,11.0,27.0,3.4,...,0.886,0.4,2.0,2.4,3.1,0.5,0.1,1.4,2.3,9.1